.comment__container {
    width: 46vw;
    margin: 2rem 0;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 5px;
}

.comment__form--disappear {
    display: none;
}

.comment__form--show {
    display: inline-block;
}

.addNewComment__button--primary {
    background-color: #4458c4 !important;
    color: white !important;
}

.addNewComment__button--close {
    background-color: rgb(247, 117, 117) !important;
}